.collapse-wrapper {
  padding-bottom: 45px;
}

.collapse-container {
  width: 71vw;
  height: auto;
  margin: 0 auto 2vw auto;
  @media screen and (max-width: 500px) {
    width: 89vw;
    margin: 0 auto 6vw auto;
  }
  &__head {
    user-select: none;
    height: 47px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $couleur-primaire;
    padding: 0 2.5vw 0 2vw;
    z-index: 2;
    @media screen and (max-width: 500px) {
      height: 30px;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      img {
        transform: rotate(180deg);
      }
    }
    p {
      color: #fff;
      font-size: calc(7px + 1.2vw);
      @media screen and (min-width: 1440px) {
        font-size: 24px;
      }
      @media screen and (max-width: 500px) {
        font-size: 13px;
      }
    }
    img {
      width: 24px;
      height: 14px;
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      @media screen and (max-width: 950px) {
        width: 19px;
        height: 11px;
      }
      @media screen and (max-width: 500px) {
        width: 16px;
        height: 9px;
      }
    }
  }
  &__content {
    max-height: 0;
    opacity: 0;
    z-index: -2;
    padding: 0vw 12px 0vw 12px;
    transition: all 0.3s ease-in-out;
    p {
      visibility: hidden;
      font-size: calc(7px + 1.2vw);
      transition: all 0.3s ease-in-out;
      font-weight: 400;
      line-height: 34px;
      @media screen and (min-width: 1440px) {
        font-size: 24px;
      }
      @media screen and (max-width: 950px) {
        line-height: 20px;
      }
      @media screen and (max-width: 500px) {
        font-size: 12px;
        line-height: 17px;
      }
    }
    &.active {
      visibility: visible;
      max-height: 18vw;
      height: auto;
      opacity: 100%;
      background-color: #f6f6f6;
      border-radius: 0 0 5px 5px;
      padding: 2vw 12px 1.2vw 12px;
      @media screen and (max-width: 950px) {
        padding: 3vw 12px 3.5vw 12px;
        max-height: 30vw;
      }
      @media screen and (max-width: 500px) {
        padding: 4vw 12px 5vw 12px;
        max-height: 35vw;
      }
      p {
        visibility: visible;
      }
    }
  }
}
